<div class="navbar">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" routerLink="">Muralme</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="about">about</a>
        <a class="mdl-navigation__link" routerLink="contact">contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Muralme</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="about">about</a>
      <a class="mdl-navigation__link" routerLink="contact">contact</a>
    </nav>
  </div>
</div>
</div>
