<main class="mdl-layout__content">
  <div class="page-content">
    <div class="content-grid mdl-grid">
      <div *ngFor="let artist of artists | async" class="mdl-cell project-cells">
        <div class="panel-body">
          <h3>{{artist.name}}</h3> <img src="{{artist.imageurl}}" alt="images of {{artist.name}}'s art work" /> <h4>{{artist.bio}}</h4>
          <h4>{{artist.price}}</h4>
          <app-edit [selectedArtist]="artist"></app-edit>
        </div>
      </div>
    </div>
  </div>
</main>
<app-create-new></app-create-new>
