img {
  max-width: 100%;
  max-height: 30%;
}

.demo-card-wide.mdl-card {
  max-width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  max-height: 600px;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.body {
  margin-left: 6%;
}
